---
layout: default
title: Blog
priority: 0.9
description: Our running commentary on work and personal topics, including programming, web development, open source, standards, Android, playing cricket, stories, films, music, and anything else that pops into our head.
change_frequency: always
---
<div class="page-header page-header-small">
    <div class="page-header-image" data-parallax="true"
         style="background-image: url('../assets/img/bg3.jpg');background-color: #311b92">
    </div>
    <div class="container">
        <div class="content-center">
            <h1 class="title">{{ page.title }}</h1>

        </div>
    </div>
</div>

<div class="section">
    <div class="container">

        <div class="row">
            <div id=post-list class=col-md-9>
                {% for post in site.categories['blog'] %}

                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title">
                            <a class="no-underline"
                               href="{{ site.baseurl }}{{ post.url }}"
                               title="{{ post.title }}">{{ post.title }}
                            </a>
                        </h2>
                        <p class="description">{{ post.description }} <a href="{{ site.baseurl }}{{ post.url }}">read more</a>.</p>
                        <small class="text-muted">
                            Posted on {{ post.date | date: "%B %-d, %Y" }}
                            &ndash; <a href="{{ site.baseurl }}/blog/{{ post.categories[1] }}">{{ post.categories[1] |
                                                                                               capitalize |
                                                                                               replace:'-',' ' }}</a>
                            {% if post.tags != empty %} &ndash; Tags : {% for tag in post.tags %}{{ tag | capitalize }}
                            {% endfor %} {% endif %}
                        </small>
                    </div>
                </div>

                <div class="separator separator-primary"></div>
                {% endfor %}
            </div>

            <div class=col-md-3>
                <h3>Categories</h3>
                <ul class="nav nav-pills nav-stacked">
                    {% capture category_list %}{% for cat in site.categories %}{{ cat[0] }}{% if forloop.last !=
                    true%}|{% endif %}{% endfor %}{% endcapture %}
                    {% assign sorted_cats = category_list | split:'|' | sort %}
                    {% assign list = 'blog' %}
                    {% assign flag = false %}

                    {% for category in sorted_cats %}
                    {% if forloop.last %}
                    {% assign flag = true %}
                    {% endif %}
                    {% for post in site.categories[list] %}
                    {% if category == post.categories[1] %}
                    <li><a href="{{ site.baseurl }}/{{ list }}/{{ category }}/"
                           title="{{ category | replace:'-',' ' | capitalize }}">{{ category | replace:'-',' ' |
                                                                                 capitalize }}</a>
                        {% break %}
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                </ul>
            </div>
        </div>


    </div>
</div>