 <footer class="footer" data-background-color="black">
	<div class="container">
		<nav>
			<ul>
				<li>
					<a href="#">
						{{site.title}}
					</a>
				</li>
				<li>
					<a href="#hash-about">
						About Us
					</a>
				</li>
				<li>
					<a href="http://blog.creative-tim.com">
						Blog
					</a>
				</li>
				<li>
					<a href="/license.txt">
						MIT License
					</a>
				</li>
			</ul>
		</nav>
		<div class="copyright">
			&copy;
			<script>
				document.write(new Date().getFullYear())
			</script>, <b>{{site.title}}</b></a>
		</div>
	</div>
</footer>