---
layout: base
---
<div class="post">
    {% include components/header.html %}
    <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true" style="background-image: url('/assets/img/post.gif');background-color: #311b92">
            </div>
            <div class="container">
                <div class="content-center">
                    <h1 class="title">{{ page.title }}</h1>
                    <p class="category">{{ page.description }}</p>
                </div>
            </div>
        </div>
        {{ content }}
        {% include components/footer.html %}
    </div>
</div>
{% include scripts.html %}
